.signup-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 3%; 
}
.signup-header h2{
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.signup-name{
    display: flex;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.signup-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.signup-name input{
    padding:3px;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
}
.signup-name input:hover{
    border: 1px solid black;
    transition: 0.3s;

}
.signup-next{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32%;
    margin: 0 auto;
    gap: 10px;
    margin-top: 1%;
}
.signup-next input {
    padding: 3px;
    height: 35px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.signup-next input:hover {
    border: 1px solid black;
    transition: 0.4s;
}

.signup-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 2%; 
}
.signup-btn span{
    color: #a8a8a8;
    text-decoration: underline;
}
.signup-btn span:hover{
    color: black;
    transition: 0.4s;
    cursor: pointer;
}


.signup-header span{
    color: #818181;
    text-decoration: underline;
}
.signup-header span:hover{
    color: black;
    transition: 0.4s;
    cursor: pointer;
}